
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $f-main;
  background: #fff;
}



h1, h2, h3, h4, h5, h6 {
  font-family: $f-second;
  margin: 0;
}



a{
  transition: all 0.1s ease-in-out;
}
.tcenter{
  text-align: center !important;
}
.tleft{
  text-align: left !important;
}
.tright{
  text-align: right !important;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.btn{
  padding: 0.75em 1.25em;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  i{
    margin-left: 10px;
  }
  &.btn-primary{
    background: $primary;
    color: #fff;
  }
  &.btn-min{
    padding: 0.5em 1em;
  }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}


.c-black{
  color: $black !important;
}


.container{
  display: block;
  margin: 0 auto;
  //max-width: 1200px;
  // width: 100%;
  height: auto;
}

section.main{
  padding: 2em 0;
}

.section-wrap{
  padding: 6em 0;
  &.nopad{
    padding: 0;
  }
  .image-content{
    display: block;
    margin-bottom: 1em;
  }
}


.title-page{
  padding: 0 0 0.5em;
  margin: 0 0 2em;
  vertical-align: middle;
  h2{    
    display: inline-block;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    &.subtitle{
      font-weight: 400;
    }
  }
}



#one-img{
  background: url("../img/img_home_princ.jpg");
  background-size: cover;
}


#quieneses_somos.section-wrap{
  background: #1e1e1e;
  color: #fff;
  font-size: 1.500em;
}

#confian.section-wrap{
  background: #fff;
  .title-page{
    text-align: center;
    margin-bottom: 2.5em;
    h2.subtitle{
      
      color: #000;
    }
  }
  .list-logos{
    text-align: center;
    margin: 3em 0;
    li{
      display: inline-block;
      vertical-align: middle;
      margin: 0 3em;
    }
  }
}

.item-hacemos{
  background: #fff;
  position: relative;
  box-shadow: 0 0px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  display: block;
  padding: 1em;
  &:hover{
    box-shadow: 0 14px 56px -20px rgba(0,0,0,.64);
    transition-timing-function: ease-out;
    transition-duration: .15s;
    transform: translateY(-3px);
  }
  h3{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
  }
  .image{
    text-align: center;
    margin: 1em 0 2em;
    img{
      margin: 0 auto;
    }

  }
}


.form-control{
  border: 1px solid #ccc;
  padding: 0.4em;
  border-radius: 0;
  box-shadow: none;
}