
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700,800');

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova.eot");
  src: url("../fonts/ProximaNova.eot#iefix") format("embedded-opentype"), url("../fonts/ProximaNova.ttf") format("truetype"), url("../fonts/ProximaNova.woff") format("woff"), url("../fonts/ProximaNova.svg#ProximaNova") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold.eot#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold.svg#ProximaNovaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}