[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach:before {
  content: "";
}

.icon-calculadora:before {
  content: "";
}

.icon-calendar-bigger:before {
  content: "";
}

.icon-comillas:before {
  content: "";
}

.icon-documentos:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-dublecheck .path1:before {
  content: "";
  color: rgb(255, 255, 255);
}

.icon-dublecheck .path2:before {
  content: "";
  margin-left: -1.91699em;
  color: rgb(179, 179, 179);
}

.icon-dublecheck2:before {
  content: "";
}

.icon-exam .path1:before {
  content: "";
  color: rgb(255, 255, 255);
}

.icon-exam .path2:before {
  content: "";
  margin-left: -0.87988em;
  color: rgb(0, 0, 0);
}

.icon-flecha:before {
  content: "";
}

.icon-forum:before {
  content: "";
}

.icon-logo:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-pdn:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-reloj:before {
  content: "";
}

.icon-resultados .path1:before {
  content: "";
  color: rgb(255, 255, 255);
}

.icon-resultados .path2:before {
  content: "";
  margin-left: -0.72168em;
  color: rgb(216, 5, 5);
}

.icon-resultados .path3:before {
  content: "";
  margin-left: -0.72168em;
  color: rgb(216, 5, 5);
}

.icon-resultados .path4:before {
  content: "";
  margin-left: -0.72168em;
  color: rgb(216, 5, 5);
}

.icon-resultados .path5:before {
  content: "";
  margin-left: -0.72168em;
  color: rgb(216, 5, 5);
}

.icon-resultados .path6:before {
  content: "";
  margin-left: -0.72168em;
  color: rgb(216, 5, 5);
}

.icon-resultados .path7:before {
  content: "";
  margin-left: -0.72168em;
  color: rgb(216, 5, 5);
}

.icon-resultados .path8:before {
  content: "";
  margin-left: -0.72168em;
  color: rgb(216, 5, 5);
}

.icon-resultados .path9:before {
  content: "";
  margin-left: -0.72168em;
  color: rgb(216, 5, 5);
}

.icon-fb:before {
  content: "";
}

.icon-go:before {
  content: "";
}

.icon-tw:before {
  content: "";
}

.icon-upc:before {
  content: "";
}
