// PALETA DE COLORES

$primary: #fff;

$white: #fff;
$black: #000;

// TIPOGRAFIAS
$f-main: 'akkurat', sans-serif;
$f-second: 'akkuratBold', sans-serif;
$f-third: 'akkuratLight', sans-serif;



// COLOR DE FONDO POR DEFECTO
$bg-site-color: #fff;

// COLOR DE FUENTE POR DEFECTO
$f-color: #000;

// TAMAÑO DE FUENTE PRINCIPAL
$fz-main: 14px;

// CONTENT WIDTH
$cnt-w: 1274px;

// SPRITE ICONOS
// $icons: url("../img/spt_icons.png")
