// PALETA DE COLORES

$primary: #ff7e00;

$white: #fff;
$black: #000;
$red: #eb262c;
$rojo: #f00;
$blue: #0050b4;
$blue2: #001450;
$blue3: #1216c9;
$celeste: #0082ff;

$green: #589442;

$gris1: #c0c0c0;
$gris2: #b3b3b3;
$gris3: #1b1b1b;

$yellow: #ffff26;



// TIPOGRAFIAS
$f-main: 'ProximaNova', sans-serif;
$f-second: 'ProximaNovaBold', sans-serif;



// COLOR DE FONDO POR DEFECTO
$bg-site-color: #fff;

// COLOR DE FUENTE POR DEFECTO
$f-color: #000;

// TAMAÑO DE FUENTE PRINCIPAL
$fz-main: 14px;

// CONTENT WIDTH
$cnt-w: 1274px;

// SPRITE ICONOS
// $icons: url("../img/spt_icons.png")
