#footer{
  background: #000; 
  padding: 3em 0 2em; 
  .block-list {
    margin: 0 0 2em;
    &.menu{
      ul{
        li{
          
          a{            
            text-transform: uppercase;
          }
        }
      }
    }
    ul{
      li{
        margin-bottom: 1em;
        color: #fff;
        font-size: 1.250em;
        font-family: akkuratLight;
        a, span{
          color: #fff;
        }
      }
    }
    ul.social{
      li{
        display: inline-block;
        a{
          height: 24px;
          width: 24px;
          display: block;
          border-radius: 100%;
          background: #fff;
          color: #000;
          text-align: center;
          line-height: 24px;
        }
      }
    }
    p{
      color: #fff;
      font-size: 12px;
    }   
  }
    
}

#footer-bottom{
  background: #000; 
  padding: 2em 0; 
  .copyright{
    color: #fff;
    font-size: 1.250em;
    font-family: akkuratLight;
    margin: 0;
  }
  .logo{
    float: right;
  }
}

