#header{
  background: white;
  .navbar-fixed-top{
    background: #fff;
    box-shadow: 0 14px 56px -20px rgba(0,0,0,.1);
  }
  .container{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .logo{
    margin: 0;
    a{
      width: 164px;
      height: 22px;
      display: block;
      background: url("../img/logo_color.png") no-repeat;
      background-size: contain;
      text-indent: -9999em; 
    }    
  }
  
  .menu{
    margin: 0 0;
    float: right;
    li{
      a{
        padding: 0 0 0 25px;
        color: #7f7c80;
        font-size: 1.15em;
        text-decoration: none;  
        font-family: "AkkuratLight";      
      }
      &:hover{
        a{
          color: #000;
        }
      }       
      &.active{
        a{
          font-family: "akkuratBold";
          color: #000;
        }
      }
    }
  }
}



/* Navigation Toggle
-------------------------------------------------------*/

.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 10px;
  border: none;
  z-index: 50;

  & .icon-bar {
    background-color: #999;
    width: 18px;
  }

  &:focus,
  &:hover {
    
  }

  &:focus .icon-bar,
  &:hover .icon-bar {
    background-color: #000;
  }
  &.collapsed{
    .icon-bar{
      background-color: #999;
    }
  }
}