#footer
  .container
    .row
      .col-md-4.col-sm-6 
        .block-list 
          ul  
            li
              a Sobre nosotros
            li
              a Servicios
            li
              a Blog
         
      .col-md-4.col-sm-6.col-xs-6            
        .block-list 
          h3 HELP
          ul  
            li
              a contacto@weeare.pe

            li Av. República de Panamá 3952 Miraflores

            li Telf: (01) 2217330
#footer-bottom
  .container
    .row
      .col-md-6
        p Todos los derechos reservados @weeare 2018
      .col-md-6
        .logo
          img(src="img/logo_white.png")



block scriptsFoot

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script.
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
script(src='js/bootstrap.min.js')
script(src='js/slick.min.js')
script(src='js/functions.js?v=0.0.2')

