#footer
  .container
    .row
      .col-md-4.col-sm-6 
        .block-list.menu 
          ul  
            li
              a Sobre nosotros
            li
              a Servicios
            li
              a Blog
         
      .col-md-6.col-sm-6.col-xs-6            
        .block-list 
          ul  
            li
              a contacto@weeare.pe

            li Av. República de Panamá 3952 Miraflores

            li Telf: (01) 2217330
#footer-bottom
  .container
    .row
      .col-md-6
        p.copyrigth Todos los derechos reservados @weeare 2018
      .col-md-6
        .logo
          img(src="img/logo-weeare-blanco.png")

#mdlContacto.modal.fade(tabindex='-1', role='dialog', aria-labelledby='mdlContactoLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        .image
          img(src="img/logo_color.png", alt="")
        h5.modal-title Déjanos un mensaje y en breve nos pondremos en contacto.
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        form
          .form-group
            input#nomapeform.form-control(type='email', aria-describedby='emailHelp', placeholder='Nombre y Apellido')
          .form-group
            input#emailform.form-control(type='password', placeholder='Email')
          .form-group
            textarea#mensajeform.form-control(placeholder='Mensaje')
          .form-btn
            button.btn.btn-black(type='submit') Enviar


block scriptsFoot

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script.
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
script(src='js/bootstrap.min.js')
script(src='js/plugins.js')
script(src='js/functions.js?v=0.0.2')

