head
  if(home)
  include ./metas
  link(rel="stylesheet", href="css/main.css?v=0.0.4")
  link(rel="stylesheet", href="css/slick.css?v=0.0.4")
  link(rel="stylesheet", href="css/slick-theme.css?v=0.0.4")
  link(rel="stylesheet", href="css/jquery.fullPage.css?v=0.0.4")

  link(rel="shortcut icon", href="/favicon.ico")

 
