section.featured
  .media-content
    slider.slider-slick
      - for (var x = 0; x < 3; x++)
        .slider-item
          .slider-item-image(style="background-image: url(img/banner.jpg)")
        .slider-item
          .slider-item-image(style="background-image: url(img/banner.jpg)")
          