<!doctype html>
html(lang="es")
  - var home = true
  include partials/head

  body.home    
    div#page.wrapper
      // HEADER DEL SITIO
      include partials/header    

      
      
      block content      

        section#one-img.section-wrap
          .container.container-full-height
            h2 Pensamos en el Costumer Journey de tus clientes

        section#quieneses_somos.section-wrap
          .container
            .title-page
              h2.title ¿Quiénes somos?
            .row            
              .content-page.col-md-11.col-md-offset-1
                .image-content
                  img(src="img/iso_arellano_weeare.png", alt="")
                p Somos una unidad de negocios de Arellano Marketing especializada en asesoría y ejecución de Programas de Lealtad y Fidelización a través de la tecnología, gestión comercial y de información, con un marcado sentido de la rentabilidad para nuestros clientes.

        section#que_hacemos.section-wrap
          .container
            .title-page
              h2.title ¿Qué hacemos?
            .row            
              .col-md-4
                .item-services
                  h3 Gestionamos beneficios
                  .image
                    img(src="../img/icono_gestionamos.png", alt="")
                  .detail
                    ul
                      li Diseño de estrategia
                      li Contacto, seguimiento y cierre
                      li Capacitaciones
                      li Mystery shopper
                      li Costumer service		
              .col-md-4
                .item-services
                  h3 Gestionamos beneficios
                  .image
                    img(src="../img/icono_plataforma.png", alt="")
                  .detail
                    ul
                      li Diseño de estrategia
                      li Contacto, seguimiento y cierre
                      li Capacitaciones
                      li Mystery shopper
                      li Costumer service	
              .col-md-4
                .item-services
                  h3 Gestionamos beneficios
                  .image
                    img(src="../img/icono_informacion.png", alt="")
                  .detail
                    ul
                      li Diseño de estrategia
                      li Contacto, seguimiento y cierre
                      li Capacitaciones
                      li Mystery shopper
                      li Costumer service	
        section#como_hacemos.section-wrap
          .container
            .title-page
              h2.title ¿Cómo lo hacemos?

        section#confian.section-wrap
          .container
            .title-page
              h2.title Confían en nosotros

              

              
      include partials/footer  





           