<!doctype html>
html(lang="es")
  - var home = true
  include partials/head

  body.home(data-spy="scroll" data-offset="80" data-target=".navbar-fixed-top")   
    div#page.wrapper
      // HEADER DEL SITIO
      include partials/header    

      
      
      block content 
        section#one-img.section-wrap
          .container.container-full-height
            .cnt-table
              .cnt-table-cell.top
                .row   
                  .col-md-12         
                    h1 Beneficios pensando en el <br/> Costumer Journey de tus clientes
                    .cnt-btn.text-center
                      a.btn.btn-lg.btn-primary(href="", data-toggle="modal" data-target="#mdlContacto") Contáctanos

        section#quieneses_somos.section-wrap.nopad
          .container.container-full-height
            .title-page.absolute
              h2.title ¿Quiénes somos?
            .cnt-table
              .cnt-table-cell
                .row            
                  .content-page.col-md-12
                    .image-content
                      img(src="img/iso_arellano_weeare.png", alt="")
                    p Somos una unidad de negocios de Arellano Marketing especializada en asesoría y ejecución de Programas de Lealtad y Fidelización a través de la tecnología, gestión comercial y de información, con un marcado sentido de la rentabilidad para nuestros clientes.

        section#que_hacemos.section-wrap.nopad
          .container.container-full-height
            .title-page.absolute
              h2.title ¿Qué hacemos?
            .cnt-table
              .cnt-table-cell
                .row            
                  .col-md-4
                    .item-hacemos
                      h3 Gestionamos beneficios
                      .image
                        img(src="img/icono_gestionamos.png", alt="")
                      .detail
                        ul
                          li Diseño de estrategia
                          li Contacto, seguimiento y cierre
                          li Capacitaciones
                          li Mystery shopper
                          li Costumer service		
                  .col-md-4
                    .item-hacemos
                      h3 Plataforma tecnológica
                      .image
                        img(src="img/icono_plataforma.png", alt="")
                      .detail
                        ul
                          li API
                          li Web responsive
                          li Segmentación de oferta y demanda
                          li Sistema de validación	
                  .col-md-4
                    .item-hacemos
                      h3 Gestionamos la información
                      .image
                        img(src="img/icono_informacion.png", alt="")
                      .detail
                        ul
                          li Procesamiento de la información
                          li Reportes de utilización
                          li Reportes de perfil de usuario	
        section#como_hacemos.section-wrap.nopad
          .container.container-full-height
            .title-page.absolute
              h2.title ¿Cómo lo hacemos?
            .cnt-table
              .cnt-table-cell
                .row  
                  .col-md-12
                    .item-comohacemos
                      .image
                        img(src="img/ico_planing.png", alt="")
                      .detail
                        h3 Planning del Programa
                        ul
                         li Definición de objetivos
                         li Inmersión y análisis de la información
                         li Establecimiento de presupuesto
                         li Desarrollo de Carta Gantt
                    .item-comohacemos
                      .image
                        img(src="img/ico_propuesta.png", alt="")
                      .detail
                        h3 Propuesta de concepto
                        ul
                         li Comercial
                         li Tecnológico
                         li Información
                    .cnt-btn
                      a.btn.btn-lg.btn-primary(href="", data-toggle="modal" data-target="#mdlContacto") Contáctanos
                         
        section#confian.section-wrap
          .container
              .title-page
                h2.subtitle Confían en nosotros
              .row            
                .col-md-12
                  ul.list-logos
                    li
                      a(href="#")
                        img(src="img/logo_falabella.png", alt="")
                    li
                      a(href="#")
                        img(src="img/logo_bbva.png", alt="")
                    li
                      a(href="#")
                        img(src="img/logo_arellano.png", alt="")

              
      include partials/footer  





           